.class-selector{
	color:white;
	background-color:blue;
	padding:10px;
}
#id-selector{
	color:black;
	background-color:yellow;
	padding:10px;
}
#unique-id{
	color:red;
	background-color:lightyellow;
	padding:10px;
}
p.universal{
	color:green;
	background-color:lightgray;
	padding:10px;
}
p.element{
	color:purple;
	background-color:pink;
	padding:10px;
}
p[title]{
	color:orange;
	background-color:lightblue;
	padding:10px;
}
